* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #F3F4F4;
    color: #061E29;
}

/* HEADER */
.header {
    background-color: white;
    color: #061E29;
    padding: 18px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e1e5e8;
}

.header h1 {
    font-size: 18px;
    font-weight: 600;
}

.logout {
    text-decoration: none;
    font-size: 14px;
    color: #061E29;
}
/* MAIN */
.main {
    max-width: 380px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
}

/* TITULO */
.title {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #1D546D;
}

/* SCANNER */
.scanner-box {
    width: 260px;
    height: 260px;
    margin: 0 auto 30px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    background: transparent;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

/* Contenedor principal del lector */
#reader {
    width: 100% !important;
    height: 100% !important;
    position: relative;
}

/* Elimina fondo azul/clarito interno */
#reader > div {
    background: transparent !important;
    padding: 0 !important;
}

/* Elimina canvas extra */
#reader canvas {
    display: none !important;
}

/* Ajusta el video */
#reader video {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    border-radius: 20px;
}






/* FORM */
.form-group {
    margin-bottom: 18px;
    text-align: left;
}

label {
    font-size: 13px;
    margin-bottom: 6px;
    display: block;
    color: #6b7c85;
}

input,
select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #d8e0e5;
    background-color: white;
    font-size: 14px;
    color: #061E29;
}

input:focus,
select:focus {
    outline: none;
    border-color: #5F9598;
}

/* BOTON */
.pay-btn {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #061E29;
    color: white;
    border: none;
    font-size: 15px;
    transition: 0.3s ease;
}

.pay-btn:hover {
    opacity: 0.9;
}

/* FOOTER */
.footer {
    margin-top: 50px;
    text-align: center;
    padding: 15px;
    font-size: 12px;
    color: #7a8d97;
}

.cancel-btn {
    display: block;
    width: 60%;              /* más pequeño */
    margin: 25px auto 30px auto;  /* espacio arriba y abajo */
    padding: 10px;
    text-align: center;
    background-color: #c62828;  /* rojo más intenso */
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    transition: 0.3s ease;
}

.cancel-btn:hover {
    background-color: #8e0000;  /* rojo aún más fuerte al pasar mouse */
}