* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #F3F4F4;
    color: #061E29;
}

/* HEADER */
.header {
    background-color: white;
    color: #061E29;
    padding: 18px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e1e5e8;
}

.header h1 {
    font-size: 18px;
    font-weight: 600;
}

.logout {
    text-decoration: none;
    font-size: 14px;
    color: #061E29;
}

/* HERO */
.hero {
    text-align: center;
    padding: 70px 20px;
    background-color: #ffffff;
}

.hero h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
}

.hero p {
    font-size: 14px;
    color: #6b7c85;
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #061E29;
    color: white;
    padding: 12px 26px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s ease;
}

.btn-primary:hover {
    opacity: 0.85;
}

/* FUNCIONALIDADES */
.features {
    padding: 60px 20px;
    text-align: center;
}

.features h3 {
    margin-bottom: 30px;
    font-weight: 600;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 170px;
    padding: 22px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.05);
    text-align: left;
}

.card h4 {
    color: #1D546D;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
}

.card p {
    font-size: 12px;
    color: #6b7c85;
    line-height: 1.5;
}

/* CONTACTO */
.contact {
    padding: 70px 20px;
    text-align: center;
    background-color: #ffffff;
}

.contact h3 {
    margin-bottom: 10px;
}

.contact p {
    font-size: 13px;
    color: #6b7c85;
    margin-bottom: 25px;
}

.contact form {
    max-width: 320px;
    margin: auto;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 14px;
    border-radius: 8px;
    border: 1px solid #d9e1e6;
    font-size: 13px;
    background-color: #f9fbfc;
}

.contact textarea {
    resize: none;
    height: 90px;
}

.contact button {
    width: 100%;
    padding: 12px;
    background-color: #061E29;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s;
}

.contact button:hover {
    opacity: 0.85;
}

/* FOOTER */
.footer {
    background-color: white;
    border-top: 1px solid #e1e5e8;
    text-align: center;
    padding: 14px;
    font-size: 12px;
    color: #6b7c85;
}
