{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
<link rel="stylesheet" href="{% static 'usuarios/css/login.css' %}?v=5">

</head>

<body>

<div class="container">
    <h2>Iniciar sesión</h2>

    <div class="image-placeholder">
        <img src="{% static 'usuarios/img/logo.jpg' %}" alt="Logo">
    </div>

  <form method="POST">
    {% csrf_token %}

    <input type="text" name="username" placeholder="Usuario" required>
    <input type="password" name="password" placeholder="Contraseña" required>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <button type="submit">Entrar</button>

    <!-- 👇 AQUÍ VA -->
    <div style="margin-top:10px;">
        <a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
    </div>

</form>

</div>

{% if messages %}
    {% for message in messages %}
        <div class="notification" id="notification">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<script>
document.addEventListener("DOMContentLoaded", function () {
    const notification = document.getElementById("notification");

    if (notification) {
        notification.style.display = "block";

        setTimeout(() => {
            notification.style.opacity = "0";
        }, 3000);

        setTimeout(() => {
            notification.style.display = "none";
        }, 3500);
    }
});
</script>


</body>
</html>
